FINE_GRAINED_PAT=your_fine_grained_pat_here

# Github Integration
GITHUB_TOKEN=ghp_your_github_token_here

# console.cloud.google.com
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URL=http://localhost/sudoschool/OAuth2.0/console/google_oauth.php

#Github
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
GITHUB_REDIRECT_URL=http://localhost/sudoschool/OAuth2.0/github/callback.php
