FINE_GRAINED_PAT=your_fine_grained_pat_here

# Github Integration
GITHUB_TOKEN=ghp_your_github_token_here

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_USER=your_mail@gmail.com
SMTP_PASS=password
SMTP_PORT=port
SMTP_FROM_EMAIL=frommail@gmail.com
SMTP_FROM_NAME="sprintdesk-global-org"
